[data-theme="light"] .text-shadow-lg {
  text-shadow: 1px 1px 5px #f0e7db;
}

[data-theme="light"] .text-shadow-sm {
  text-shadow: 1px 1px 2px #f0e7db;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.page-fade-in {
  animation: fadeInUp 0.5s ease-out;
}
